
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  font-weight: 400;
  font-family: sans-serif;
  background: rgba(25, 140, 235, 0.849);  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, rgba(25, 140, 235, 0.849), rgba(25, 140, 235, 0.849), rgba(25, 140, 235, 0.849));  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, rgba(25, 140, 235, 0.849), rgba(25, 140, 235, 0.849), rgba(25, 140, 235, 0.849)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}

.login-page{
  min-height: 100vh;
  background: rgba(25, 140, 235, 0.849);
  padding-top: 100px;
  text-align: center;

}
.login-form{
  text-align: center;

  max-width: 250px;
  margin:auto;
  /*margin-top :100px; */
  background: #fff;
  padding: 30px;
  box-shadow: 0px 0px 15px rgba(0,0,0,.2);
  border-radius: 5px ;

}
.login-form h1 {
  text-align: center;
  display: block;
  width: 100%;
  font-size: 22px;
  margin-bottom: 20px;
}
.form-group {
  text-align: center;
}

body, html, .App, #root, .outer {
  width: 100%;
  height: 100%;
}

.navbar-light {
  background-color: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
}

.outer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

.inner {
  width: 450px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all .3s;
}

.outer .form-control:focus {
  border-color: #167bff;
  box-shadow: none;
}

.outer h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}

.custom-control-label {
  font-weight: 400;
}

.forgot-password,
.forgot-password a {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: #7f7d7d;
  margin: 0;
}

.forgot-password a {
  color: #167bff;
}
.sidebar {
  background: #fff;
  float: left;
  width: 300px;
  max-width: 25%;
  height: 100vh;
  border-right: 1px solid #ddd;
  position:fixed;
  top:0px;
}
.main-view{
  position: fixed;
  left:300px;
  background: #fafafa;
  height: 100vh;
  width: 100%;
}
ul.thread-list{
  list-style: none;
  padding:0px;
}
ul.thread-list li a .zmdi{
  float: left;
  font-size:48px;
  padding: 5px 15px;
  color :#ccc
}
ul.thread-list li a{
  text-decoration:  none;
  color :#222;

}
ul.thread-list li a h5{
  font-size:  14px;
  padding : 10px;
  font-weight: 700;
  padding-bottom: 0px;
  margin-bottom: 0px;

}
ul.thread-list li a p{
  font-size:  14px;
  color :#999;

}
ul.thread-list label{
  padding-left: 20px;
  font-size: 12px;
  color:#aaa;
  padding-top: 10px;
}

.input-view{
  position: fixed;
  left: 300px;
  width: 100%;
  bottom: 0px;
}
.input-view .form-control{
  border: none;
  border-radius: 0px;
  border-top: 1px solid #eee;
  font-size: 10px;
  padding: 10px;
  height: auto;

}
